/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
} */

body {
    background-color: #11101a !important;   
    font-family: "Orelega One", serif !important;
    font-style: normal !important;
}

main {
    background-image: url('./imG/Group\ 3.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat:no-repeat !important;
}

main nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;

}

main nav ul li  {
    margin: 2.5rem !important;
    list-style-type: none !important;
    font-size: 1.5rem !important;
    color: rgb(255, 255, 255)!important;
    cursor: pointer !important;
    transition: color 0.3s ease !important;
    font-family: "Orelega One", serif !important;
    font-weight: 400 !important;
}

.logo {
    position: relative;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
}

main nav ul li:hover {
    color: rgb(242, 185, 12) !important;
}

.hexagon-search {
    position: relative;
}

.hexagon-border {
    position: absolute;
    width: 100%;
    height: 70%;
    background: rgb(242, 185, 12);
    border-radius: 23%;
    clip-path: polygon(15% 0%, 85% 0%, 90% 50%, 85% 100%, 15% 100%, 10% 50%);
    padding: 2px;
}

.hexagon-inner {
    width: 100%;
    height: 100%;
    background: #11101a;
    border-radius: 23%;
    clip-path: polygon(15% 0%, 85% 0%, 90% 50%, 85% 100%, 15% 100%, 10% 50%);
    padding: 0 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 60px;
    font-family: "Orelega One", serif;

}

.search-input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 108px;
    font-family: "Orelega One", serif;
    font-weight: 400;
    /* Changed from 900 to 400 */
}


.hexagon-search.small {
    width: 17rem;
    height: 70px; 
}

.hexagon-search.small .search-input {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 50px;
}

.hexagon-search.small .search-input::placeholder {
    font-size: 1.5rem;
}

h1 {
    color: rgb(242, 185, 12);
    font-size: 4.5rem;
    font-weight: 500;
    margin-top: 50px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;     
}

button {
    background: rgb(242, 185, 12);
    border-radius: 13px;
    padding: 12px;
    width: 250px;
    border: none;
    font-family: "Orelega One", serif;
    font-size: 35px;
    font-weight:500;
    transition: transform 0.2s ease;
    cursor: pointer;
     margin-top: 50px;

}

button:hover{
    transform: scale(1.1);
}
.contents {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 0px 100px 0px 100px;

}

.content-texts-button {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-icons-container{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}
.social-icons i {
    background-color: rgb(242, 185, 12);
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    main{
        background: none;
    }
    main nav ul {
        display: none ;
     
    }

    .hexagon-search.small {
        width: 12rem;
        height: 60px;
    }

    .contents {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 100px 0px 100px;

    }
    .social-icons{
        display :none
    }
    #burger-image{
        display: none;
    }
    .social-icons-container{
        display: none;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}