* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sagona';
    src: url('../BurgerStatic/fonts/sagona-cufonfonts/SAGONABOOKBOLD.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #11101a;
    font-family: 'Sagona';

}

main {
    background-image: url('./imG/Group\ 3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;

}

main nav ul li {
    margin: 0 1.5rem;
    list-style-type: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Sagona';
    font-weight: 900;
}

.logo {
    position: relative;
    top: 0rem;
    left: -15rem;
    right: 0rem;
    bottom: 0rem;
}

main nav ul li:hover {
    color: rgb(242, 185, 12);
}

.hexagon-search {
    position: relative;
}

.hexagon-border {
    position: absolute;
    width: 100%;
    height: 70%;
    background: rgb(242, 185, 12);
    border-radius: 23%;
    clip-path: polygon(15% 0%, 85% 0%, 90% 50%, 85% 100%, 15% 100%, 10% 50%);
    padding: 2px;

}

.hexagon-inner {
    width: 100%;
    height: 100%;
    background: #11101a;
    border-radius: 23%;
    clip-path: polygon(15% 0%, 85% 0%, 90% 50%, 85% 100%, 15% 100%, 10% 50%);
    padding: 0 35px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 60px;
    font-family: 'Sagona';

}

.search-input::placeholder {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Sagona';
    font-weight: 900;

}


.hexagon-search.small {
    width: 17rem;
    height: 70px;
}

.hexagon-search.small .search-input {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 50px;
}

.hexagon-search.small .search-input::placeholder {
    font-size: 1.5rem;
}

h1 {
    color: rgb(242, 185, 12);
    font-size: 3.5rem;

}

p {
    color: rgb(255, 255, 255);
}
button{
    background: rgb(242, 185, 12);
    border-radius: 20%;
    padding: 10px;
    border: none;

}

.contents {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 100px;
}

@media (max-width: 768px) {
    main nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    main nav ul li {
        margin: 0.5rem 0;
    }

    .hexagon-search.small {
        width: 12rem;
        height: 60px;
    }
}