/* .There_is_no_Loyal_Love__than_The_Love_of_Food_ {
  font-size: 308.642px;
  font-family: "OrelegaOne";
  color: rgb(242, 185, 12);
  line-height: 0.9;
  text-align: left;
  -moz-transform: matrix( 0.54,0,0,0.54,0,0);
  -webkit-transform: matrix( 0.54,0,0,0.54,0,0);
  -ms-transform: matrix( 0.54,0,0,0.54,0,0);
  position: absolute;
  left: -478.595px;
  top: 826.453px;
  z-index: 23;
} */
.shape1{
 border-radius: 50px;
 background-color: rgb(242,185,12);
 position: absolute;
 left: 107px;
 top: 1385px;
 width: 742px;
 height: 168px;
 z-index: 12;
}
.shape2{
  background-color: rgb(242,185,12);
  position: absolute;
  left: 2565;
  top: 99px;
  width: 552px;
  height: 134px;
  z-index: 8;

}